<header>
    <a href="" class="logo">practica1</a>
    <nav>
        <ul>
            <li><a href="/upload">upload</a></li>
            <li>Mi Perfil</li>
            <li>El Tinder de Coder</li>
        </ul>
    </nav>
</header>